.login-panel {
	top: 134px;
	background-color: $white;
	width: 520px;
	height: 622px;
	left: 0;
	right:0;
	margin: 134px auto;
	border-radius: 10px;
	box-shadow:0px 2px 4px $gray;

	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__logo {
		padding: 80px 0;
		width: 200px;
		height: 200px;
	}
}


