// White
$white: #FFFFFF;

// Gray
$light-gray: #E9E9E9;
$mid-gray: #D0D7DD;
$dark-gray: #7a7a7a;
$gray: #909090;

// Navy
$navy: #003d56;

// Black
$black: #333;

// Pink
$light-pink: #FFF0ED;

// Red
$red: #FF5228;

// Error
$error: #FF5228;

$inactivate: #D0D7DD