.header {
	grid-area: header;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px 0 $black;
	background-color: $navy;
	color: $white;
	font-weight: $semi-bold;

	&__title {
		margin-left: 38px;
		font-size: 24px;
	}
}
